<h2>New Question</h2>

<%= form_for @question do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content, size: "60x12" %>
  </p>
  
  <%= f.submit ("Ask Question") %>

<% end %>

